# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# Python files
[*.{py,pyw}]
indent_style = space
indent_size = 4

# Shell scripts
[*.{sh,bash}]
indent_style = space
indent_size = 2
end_of_line = lf

# Ansible files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Jinja2 templates
[*.j2]
indent_style = space
indent_size = 2

# Documentation
[*.{md,rst,txt}]
trim_trailing_whitespace = false
indent_style = space
indent_size = 2

# Config files
[*.{json,ini,conf,cfg}]
indent_style = space
indent_size = 2

# Makefiles require tabs
[Makefile]
indent_style = tab

# Git config files
[.git*]
indent_style = tab 