nodes:
  - name: compute-01
    ipaddr: {{ compute_01_ip }}
    hwaddr: {{ compute_01_mac }}
    type: compute
  - name: compute-02
    ipaddr: {{ compute_02_ip }}
    hwaddr: {{ compute_02_mac }}
    type: compute
  - name: compute-03
    ipaddr: {{ compute_03_ip }}
    hwaddr: {{ compute_03_mac }}
    type: compute
  - name: gpu-01
    ipaddr: {{ gpu_01_ip }}
    hwaddr: {{ gpu_01_mac }}
    type: gpu 