# Managed by the Warewulf component for 4.6.4.
ipaddr: {{ core_cluster.network.address }}
netmask: {{ core_cluster.network.netmask }}
network: {{ core_cluster.network.network }}
warewulf:
  port: 9873
  secure: true
  update interval: 60
  autobuild overlays: false
  host overlay: true
  grubboot: false
dhcp:
  enabled: true
  # PXE gets a temporary lease; the NetworkManager overlay applies the node IP.
  template: default
  range start: {{ core_cluster.network.dhcp_start }}
  range end: {{ core_cluster.network.dhcp_end }}
  systemd name: dhcpd
tftp:
  enabled: true
  tftproot: /var/lib/tftpboot
  systemd name: tftp.socket
  ipxe:
    "00:00": undionly.kpxe
    "00:07": ipxe-snponly-x86_64.efi
    "00:09": ipxe-snponly-x86_64.efi
# This role manages /etc/exports.d/hpc-spack.exports, preserving other exports.
nfs:
  enabled: false
# Do not install Warewulf's automatic per-user SSH configuration behavior.
ssh:
  key types: []
image mounts:
  - source: /etc/resolv.conf
    dest: /etc/resolv.conf
    readonly: true
paths:
  wwchrootdir: /var/lib/warewulf/chroots
  wwoverlaydir: /var/lib/warewulf/overlays
  wwprovisiondir: /var/lib/warewulf/provision
