api.http.host: 127.0.0.1
api.http.port: 9600
path.data: /var/lib/logstash
path.logs: /var/log/logstash
pipeline.workers: {{ elk_pipeline_workers }}
pipeline.batch.size: 50
pipeline.ecs_compatibility: v8
queue.type: persisted
queue.max_bytes: 256mb
queue.checkpoint.writes: 128
config.reload.automatic: false
xpack.monitoring.enabled: false
