# /etc/sysctl.conf - Configuration file for setting system variables
# See sysctl(5) for more information.

# HPC specific kernel parameters
# Increase the maximum amount of memory allocated to shared memory segments
kernel.shmmax = 68719476736
kernel.shmall = 4294967296

# Increase the maximum number of shared memory segments
kernel.shmmni = 4096

# Increase the maximum number of semaphores
kernel.sem = 250 32000 100 128

# Increase the maximum number of file descriptors
fs.file-max = 65535

# Increase the maximum number of processes
kernel.pid_max = 65535

# Increase the maximum number of threads
kernel.threads-max = 65535

# Increase the maximum number of open files
fs.nr_open = 65535

# Increase the maximum number of inotify watches
fs.inotify.max_user_watches = 524288

# Increase the maximum number of inotify instances
fs.inotify.max_user_instances = 256

# Increase the maximum number of inotify queued events
fs.inotify.max_queued_events = 32768

# Increase the maximum number of pending signals
kernel.sigpending = 65535

# Increase the maximum number of message queues
kernel.msgmni = 1024
kernel.msgmax = 65535
kernel.msgmnb = 65535

# Increase the maximum number of semaphores
kernel.sem = 250 32000 100 128

# Increase the maximum number of shared memory segments
kernel.shmmni = 4096

# Increase the maximum amount of memory allocated to shared memory segments
kernel.shmmax = 68719476736
kernel.shmall = 4294967296

# Increase the maximum number of file descriptors
fs.file-max = 65535

# Increase the maximum number of processes
kernel.pid_max = 65535

# Increase the maximum number of threads
kernel.threads-max = 65535

# Increase the maximum number of open files
fs.nr_open = 65535

# Increase the maximum number of inotify watches
fs.inotify.max_user_watches = 524288

# Increase the maximum number of inotify instances
fs.inotify.max_user_instances = 256

# Increase the maximum number of inotify queued events
fs.inotify.max_queued_events = 32768

# Increase the maximum number of pending signals
kernel.sigpending = 65535

# Increase the maximum number of message queues
kernel.msgmni = 1024
kernel.msgmax = 65535
kernel.msgmnb = 65535 