Bootstrap: docker
From: rockylinux:9

%post
    dnf -y update
    dnf -y groupinstall "Development Tools"
    dnf -y install openmpi openmpi-devel

%environment
    export OMPI_DIR=/usr/lib64/openmpi
    export PATH=$OMPI_DIR/bin:$PATH
    export LD_LIBRARY_PATH=$OMPI_DIR/lib:$LD_LIBRARY_PATH
    export MANPATH=$OMPI_DIR/share/man:$MANPATH

%runscript
    echo "Container with OpenMPI ${OMPI_VERSION}"
    /usr/bin/mpirun --version 