[Storage Gateway]
name = {{ globus_storage_name }}
type = {{ globus_storage_type }}
root = {{ globus_storage_root }}
path = {{ globus_storage_path }}
permissions = {{ globus_storage_permissions }}
anonymous = {{ globus_storage_anonymous }} 