# MPI configuration for Apptainer containers

# OpenMPI settings
openmpi_prefix = {{ apptainer_mpi_config.openmpi.prefix }}
openmpi_modulefile = {{ apptainer_mpi_config.openmpi.modulefile }}

# MPICH settings
mpich_prefix = {{ apptainer_mpi_config.mpich.prefix }}
mpich_modulefile = {{ apptainer_mpi_config.mpich.modulefile }} 