[Globus Connect Server]
name = {{ globus_server_name }}
organization = {{ globus_organization }}
contact_email = {{ globus_contact_email }}
https_port = {{ globus_https_port }}
http_port = {{ globus_http_port }}
ip_address = {{ globus_ip_address }}
gridftp_port = {{ globus_gridftp_port }}
gridftp_data_port_range = {{ globus_data_port_range }}
gridftp_control_port_range = {{ globus_control_port_range }}
gridftp_restrict_paths = {{ globus_restrict_paths }}
gridftp_allow_anonymous = {{ globus_allow_anonymous }}
gridftp_require_encryption = {{ globus_require_encryption }}
gridftp_require_strong_authentication = {{ globus_require_strong_auth }}
gridftp_require_strong_encryption = {{ globus_require_strong_enc }}
gridftp_require_integrity = {{ globus_require_integrity }}
gridftp_require_mutual_authentication = {{ globus_require_mutual_auth }}
gridftp_require_client_authentication = {{ globus_require_client_auth }}
gridftp_require_server_authentication = {{ globus_require_server_auth }}
gridftp_require_client_authorization = {{ globus_require_client_authz }}
gridftp_require_server_authorization = {{ globus_require_server_authz }}
gridftp_require_client_encryption = {{ globus_require_client_enc }}
gridftp_require_server_encryption = {{ globus_require_server_enc }}
gridftp_require_client_integrity = {{ globus_require_client_integrity }}
gridftp_require_server_integrity = {{ globus_require_server_integrity }}
gridftp_require_client_mutual_authentication = {{ globus_require_client_mutual_auth }}
gridftp_require_server_mutual_authentication = {{ globus_require_server_mutual_auth }} 