[Mapped Collections]
name = {{ globus_collection_name }}
type = {{ globus_collection_type }}
storage_gateway = {{ globus_collection_gateway }}
path = {{ globus_collection_path }}
permissions = {{ globus_collection_permissions }}
anonymous = {{ globus_collection_anonymous }} 