[defaults]
inventory = ../../config/hosts.yml
roles_path = core/roles:components
retry_files_enabled = False
interpreter_python = auto_silent
nocows = True
callback_plugins = core/roles/hpc_core/callback_plugins
callbacks_enabled = hpc_events

[privilege_escalation]
become_ask_pass = False
