apiVersion: 1

datasources:
  - name: Elasticsearch
    type: elasticsearch
    access: proxy
    url: http://localhost:9200
    jsonData:
      esVersion: 7.10.0
      timeField: "@timestamp"
    secureJsonData:
      basicAuthUser: "{{ elasticsearch_user }}"
      basicAuthPassword: "{{ elasticsearch_password }}"

  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://localhost:9090
    isDefault: true
    editable: true 